body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p {
    margin: 0;
    padding: 0;
}
body{
    color: #666;
    /*background: deepskyblue;*/
    font-family: Verdana, 微软雅黑;
    font-size: 12px;
}
 li {
    list-style: none;
}
 a{
     text-decoration: none;
     color: #383B4A;
 }
.fl{
    float: left;.
}
.fr{
    float: right;
}
.clearfix:before, .clearfix:after {
    /*清除浮动，最好最标准的写法*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}
.w{
    width: 1200px;
    margin: 0 auto;
}